<div th:fragment="alert">
		<div class="alert alert-success alert-dismissible" role="alert" th:if="${Success != null}">
			<strong>Succès</strong> <span th:text="${Success}"></span>
		    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    	<span aria-hidden="true">&times;</span>
			 </button>
        </div>
	
      <div class="alert alert-warning alert-dismissible" role="alert" th:if="${Warning != null}">
         <strong>Erreur </strong><span th:text="${Warning}"></span>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
	    </button>
      </div>

      <div class="alert alert-danger alert-dismissible" role="alert" th:if="${Error != null}">
         <strong>Erreur </strong> <span th:text="${Error}"></span>
         <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		      <span aria-hidden="true">&times;</span>
	    </button>
      </div>

</div>