<div th:fragment="createAccount">
	<form  id="saisi" method="post">
	
	    
	    <label for="typeCompte">Choisissez un type de compte :</label>
	        
		<select name="typeCompte" id="typeCompte" size="1">
			<span th:if="${session.sessionUtilisateur.isAdministrateur()}">
				<option value="ADMINISTRATEUR">Administrateur</option>
				<option value="MEDECIN">Médecin</option>
			 </span>
			<option value="ASSISTANT">Assistant</option>
		    <option value="INFIRMIER">Infirmier</option>
		    <option value="PREVENTEUR">Préventeur</option>
	    </select>
		
		     <div class="pt-2">
		  		 <input type="email" id="adress_Email" name="email" class="form-control" placeholder="Adresse Email" required>
	   		 </div> 
	   		 
	   		 <div class="row pt-2">
		  		  <div class="col"><input type="submit" class="btn btn-info" value="Valider" style="float:right;"></div>
		  		  <div class="col"><input type="reset" class="btn btn-danger" value="Annuler"></div>  		  
		  		  
	   		 </div> 
   		
	</form> 
</div>