<body>
	<div class="row justify-content-center fixed-bottom pb-3" th:fragment="footer">
		<div class="col-md-2" style="text-align:center;"><a th:href="@{/entravaux}">Mentions Légales</a></div>
		<div class="col-md-2" style="text-align:center;"><a th:href="@{/entravaux}">Projet</a></div>
		<div class="col-md-2" style="text-align:center;"><a th:href="@{/entravaux}">Contacts</a></div>
	</div>
</body>