<div th:fragment="formPatient">
<div class="container-fluid" id="container_formpatient"  style="height:75rem;padding-top:4.5rem;">
			<div class="row">
					<form class="form-patient" method="post">
			            <div class="form-title-row">
			                <h3>Veuillez saisir vos informations avant de débuter les questionnaires : </h3>
			            </div>
			
				        <div class="form-row">
				        	<label>  
				             	<span>Sexe : </span> 		
				            </label> 
				            <div class="form-radio-buttons">
				              	<input type="radio" name="sexe" value="homme" checked="checked"> Homme<br>
								<input type="radio" name="sexe" value="femme"> Femme<br>                
				            </div>  
				        </div>
			            
			
			            <div class="form-row">
			                <label>
			                    <span>Âge</span>
			                    <script>
									  // On récupère l'année courante
 									   var date = new Date();
 									  document.write("<select name='years'>");
									  // On ajoute l'année courante et les 100 années à venir
									  // dans l'élément <select> pour l'année
								  	document.write("<option value=-20>-20</option>");
									  for(var i = 20; i <= 80; i+=5) {
										  document.write("<option value=\""+i +"-"+(i+5)+"\">" + i +"-"+(i+5)+ "</option>");
									  }
 									  document.write("</select>");
								</script>
			                </label>
			            </div>
			
			            <div class="form-row">
			                <label>
			                    <span>PCS</span>
			                    <select name="pcs" id="pcs">
			                    </select>
			                </label>
			            </div>
			            
			            <div class="form-row">
			                <label>
			                    <span>NAF</span>
			                    <select name="naf" id="naf">
			                    </select>
			                </label>
			            </div>
			            
			            <div class="form-row">
			                <label>
			                    <span>Region</span>
			                    <select name="region" id="region" onchange="populateDep('region','departement')">
			                    </select>
			                </label>
			            </div>
			            
			            
						<div class="form-row">
			                <label>
			                    <span>Département</span>
			                    <select name="departement" id="departement" onchange="populateReg('departement','region')">
			                    </select>
			                </label>
			            </div>
			            
			            <div class="form-row">
			                <button type="submit" class="btn-primary">Soumettre</button>
			            </div>
			        </form>
			</div>
	</div>
	
<script th:inline="javascript">
	populateSelect("/json/pcs.json","pcs");
	populateSelect("/json/naf.json","naf");
	populateSelect("/json/regions.json","region");
	populateSelect("/json/departments.json","departement");
</script>

</div>