<div th:fragment="giveQuestionnaire">
	<form  id="saisi" method="post">
	    
	    <label for="listeQuestionnaires">Choisissez un questionnaire à soumettre :</label>
	
		<div class="pt-2">        
			<select class="form-control" name="IdentifiantQuestionnaire" id="listeQuestionnaires">
				<option th:each="identifiant : ${session.ListeQuestionnaires}" th:text="${identifiant.getName()}"></option>
		    </select>
	    </div>
	    
	    <div class="pt-2">        
			<select class="form-control" name="IdentifiantSalarie" id="listeSalaries">
				<option th:each="identifiant : ${session.ListeSalaries}" th:text="${identifiant.getAnonymityNumber()}"></option>
		    </select>
	    </div>
	   		 
	   	<div class="row pt-2">
	  		  <div class="col"><input type="submit" class="btn btn-info" value="Valider" style="float:right;"></div>
	  		  <div class="col"><input type="reset" class="btn btn-danger" value="Annuler"></div>  		  
	   	</div> 
	</form> 
</div>