<div th:fragment="menu">

<link rel="stylesheet" th:href="@{/css/menu.css}">

	<!-- Menu en header de la page -->						

	<nav class="navbar navbar-expand-lg fixed-top navbar-dark shadowbottom">
		<div class="container">
		
		<!-- Ester -->
		    <a class="navbar-brand" th:href="@{/}" style="color:white">ESTER</a>
		    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample07" aria-controls="navbarsExample07" aria-expanded="false" aria-label="Toggle navigation">
		    	<span class="navbar-toggler-icon"></span>
		    </button>
	      
		<!-- Lien Accueil -->
		
	    <div class="collapse navbar-collapse" id="navbarsExample07">
	      <ul class="navbar-nav mr-auto">
	        
	        <li class="nav-item active">
	          <a class="nav-link" style="color:white" th:href="@{/}">Accueil
	          	<span class="sr-only">(current)</span>
	          </a>
	        </li>
	      </ul>
	     
	     
	     <img class="pr-4" th:src="@{/img/irset.png}" alt="Logo-ister" width="155">
	 
	    	<!-- Bouton pour la Connexion/Première Connexion/Déconnexion -->
	    
	      <form class="form-inline my-2 my-md-0">
		      <div class="btn-group" role="group" th:if="${session.sessionUtilisateur==null}">
		        <a class="btn btn-info" th:href="@{/connexion}">SE CONNECTER</a>
		      </div>
		      <div class="btn-group" role="group" th:if="${session.sessionUtilisateur}">
			    <button id="btnGroupDrop1" type="button" class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			      <span th:text="${session.sessionUtilisateur.getIdentifiant()}">Identifiant Utilisateur</span>
			    </button>
			    <div class="dropdown-menu" aria-labelledby="btnGroupDrop1">
			      	<a class="dropdown-item" th:if="${session.sessionUtilisateur.isEntreprise()}" th:href="@{/entreprise}">Entreprise</a>		      	
			         
			      <span th:if="${session.sessionUtilisateur.isSalarie()}">
			      	<a class="dropdown-item" th:href="@{/salarie}">Salarie</a>
			      	<a class="dropdown-item" th:href="@{/salarie/questionnaire}">Liste de Questionnaires</a>      	
			      </span>
			      
			      <span th:if="${session.sessionUtilisateur.isUtilisateur()}">
			    
			      	<a class="dropdown-item" th:if="${session.sessionUtilisateur.isAssistant()}" th:href="@{/utilisateur}">Assistant</a>
				      	
			      	<a class="dropdown-item" th:if="${session.sessionUtilisateur.isMedecin()}" th:href="@{/utilisateur}">Médecin</a>
				      	
			      	<a class="dropdown-item" th:if="${session.sessionUtilisateur.isAdministrateur()}" th:href="@{/utilisateur}">Administrateur</a>
				      
			      	<a class="dropdown-item" th:if="${session.sessionUtilisateur.isInfirmier()}" th:href="@{/utilisateur}">Infirmier</a>
				      
			      	<a class="dropdown-item" th:if="${session.sessionUtilisateur.isPreventeur()}" th:href="@{/utilisateur}">Préventeur</a>
				      	
			      	<a class="dropdown-item" th:if="${session.sessionUtilisateur.isAdministrateur() OR session.sessionUtilisateur.isMedecin()}" th:href="@{/utilisateur/generateur_questionnaire}">Générateur de Questionnaires</a>
				      
			      	<a class="dropdown-item" th:href="@{/utilisateur/questionnaire}">Liste de Questionnaires</a>
			      	<a class="dropdown-item" th:href="@{/utilisateur?page=ModifierMotDePasse}">Modifier Mot de Passe</a>
			     </span>
			     
			      
			      <a class="dropdown-item" th:href="@{/deconnexion}">Déconnexion</a>
	    		</div>
		      </div>
	      </form>
	      
	      <img class="pl-3" th:src="@{/img/ua_h.png}" alt="Logo-Université-Angers" width="170">
	      
	    </div>     
	  </div>
	</nav>
</div>