<div th:fragment="showSalarieQuestionnaire">
	<form  id="saisi" method="post">
	    
	    <label for="listeQuestionnaires">Choisissez un questionnaire à afficher pour un salarié choisi :</label>
	
		<div class="pt-2">
			<label> Questionnaires : </label>    
			<select class="form-control" name="IdentifiantQuestionnaire" id="listeQuestionnairesSalarie">
				<option th:each="identifiant : ${session.ListeQuestionnaires}" th:text="${identifiant.getName()}"></option>
		    </select>
	    </div>
	    
	    <div class="pt-2">  
   			<label> salariés : </label>        
			<select class="form-control" name="IdentifiantSalarie" id="listeSalaries">
				<option value="0">Selectionner un salarié</option>
				<option th:each="identifiant : ${session.ListeSalaries}" th:text="${identifiant.getAnonymityNumber()}"></option>
		    </select>
	    </div>
	    
	    <script type="text/javascript">
		    $(document).ready(function($) {
		        $("#listeSalaries").change(function() {
		            var salarie = $(this).val();
		            $.get("/utilisateur/ajax", {salarie_id : salarie}, function(response){
		            	$('#listeQuestionnairesSalarie').empty();
		            	for (item in response) {
		    				$('#listeQuestionnairesSalarie').append($('<option>', {
		    				    value: response[item].name,
		    				    text:  response[item].name
		    				}));
		    			}
		            });
		    	});
		    });
	    </script>
	   		 
	   	<div class="row pt-2">
	  		  <div class="col"><input type="submit" class="btn btn-info" value="Valider" style="float:right;"></div>
	  		  <div class="col"><input type="reset" class="btn btn-danger" value="Annuler"></div>  		  
	   	</div> 
	</form> 
</div>
