<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/ua.png}">

    <title>Connexion - ESTER</title>
    
    <link rel="stylesheet" th:href="@{/css/Accueil.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

    <script th:inline="javascript">
      function showDiv(name) {
        document.getElementById('divSalarie').style.display = "none";
        document.getElementById('divEntreprise').style.display = "none";
        document.getElementById('divUtilisateur').style.display = "none";
        document.getElementById(name).style.display = "block";
      }
      

//     var clock = ${param.clock[Ø]} ;
//     if( clocl == null) clock ="4";

	
    
//   	var timeout = clock;
  	
//    	function timer_utilisateur()
//   	{
//   		if( --timeout > 0 ){
//   			window.setTimeout( "timer_utilisateur()", 1000 );
//   		}
//   		else
//   		{
//   			document.location.href="/utilisateur";
  			
//   		}
//   	}
  	
//   	function timer_entreprise()
//   	{
//   		if( --timeout > 0 ){
//   			window.setTimeout( "timer_entreprise()", 1000 );
//   		}
//   		else
//   		{
//   			document.location.href="/entreprise";
  			
//   		}
//   	}
  	
//   	function timer_salarie()
//   	{
//   		if( --timeout > 0 ){
//   			window.setTimeout( "timer_salarie()", 1000 );
//   		}
//   		else
//   		{
//   			document.location.href="/salarie";
  			
//   		}
//   	}
    </script>
    
</head>
<body>
	
	
  	<div th:replace="fragments/menu :: menu"></div>
  
    <div class="container-fluid text-center mb-4" id="container">
    
	    <div class="row justify-content-center pb-2">
	        <div class="col-md-2" style="text-align:center;"><img th:src="@{/img/irset.png}" alt="Logo-ister" width="205" height="90"></div>
	        <div class="col-md-2" style="text-align:center;"><img th:src="@{/img/ua_h.png}" alt="Logo-Université-Angers" width="190" height="62"></div>
	        
	    </div>

		<div th:if="${Success != null}">
<!-- 	    	<c:if test="${sessionScope.sessionUtilisateur.isUtilisateur()}"> -->
<!-- 	    		<script>timer_utilisateur();</script> -->
<!-- 	    	</c:if>  -->
<!-- 	    	<c:if test="${sessionScope.sessionUtilisateur.isEntreprise()}"> -->
<!-- 	    		<script>timer_entreprise();</script> -->
<!-- 	    	</c:if> -->
<!-- 	    	<c:if test="${sessionScope.sessionUtilisateur.isSalarie()}"> -->
<!-- 	    		<script>timer_salarie();</script> -->
<!-- 	    	</c:if>  	 -->
	      <div class="alert alert-success alert-dismissible" role="alert">
          <strong>Succès</strong> <span th:text="${Success}"></span>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>
	    </div>
	
	      <div class="alert alert-warning alert-dismissible" role="alert" th:if="${Warning != null}">
          <strong>Attention</strong><span th:text="${Warning}"></span>
	        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
	          <span aria-hidden="true">&times;</span>
	        </button>
	      </div>

        <h1 class="font-weight-normal">Connexion</h1>
    
        <div class="btn-group" role="group">
          <button id="btnSalarie" class="btn btn-primary" type="button" onclick="showDiv('divSalarie');">Salarié</button>
          <button id="btnEntreprise" class="btn btn-primary" type="button" onclick="showDiv('divEntreprise')">Entreprise</button>
          <button id="btnUtilisateur" class="btn btn-primary" type="button" onclick="showDiv('divUtilisateur')">Utilisateur</button>
        </div>
    
        <form id="divSalarie" style="display:none;" class="form-signin" method="post">
          <div class="form-label-group">
            <input type="text" id="inputIdentifiant" name="Identifiant" class="form-control" placeholder="Identifiant" required>
            <label for="inputIdentifiant">Identifiant</label>
          </div>
          <input type="hidden" name="Type" value="Salarie" />
          <div class="btn-group" role="group">
         	<button class="btn btn-primary" type="submit">SE CONNECTER</button>
          </div>
        </form>

        <form id="divEntreprise" style="display:none;" class="form-signin" method="post"> 
          <div class="form-label-group">
            <input type="text" id="inputEmailEntreprise" name="Identifiant" class="form-control" placeholder="Identifiant" required>
            <label for="inputEmailEntreprise">Identifiant</label>
          </div>
          <div class="form-label-group">
            <input type="password" id="inputPasswordEntreprise" name="Password" class="form-control" placeholder="Password" required>
            <label for="inputPasswordEntreprise">Mot de passe</label>
          </div>
            <div class="row mb-4">
            	<a th:href="@{/ForgotPassword}">Mot de passe oublié ?</a>
            </div>
          <input type="hidden" name="Type" value="Entreprise" />
          <div class="btn-group" role="group">
              <button class="btn btn-primary" type="submit">SE CONNECTER</button>
          </div>
        </form>

        <form id="divUtilisateur" style="display:none;" class="form-signin" method="post">
            <div class="form-label-group">
              <input type="text" id="inputEmailUtilisateur" name="Identifiant" class="form-control" placeholder="Identifiant" required>
              <label for="inputEmailUtilisateur">Adresse email ou identifiant</label>
            </div>
            <div class="form-label-group">
              <input type="password" id="inputPasswordUtilisateur" name="Password" class="form-control" placeholder="Password" required>
              <label for="inputPasswordUtilisateur">Mot de passe</label>
            </div>
            <div class="row mb-4">
            	<a th:href="@{/ForgotPassword}">Mot de passe oublié ?</a>
            </div>
            <input type="hidden" name="Type" value="Utilisateur" />
            <div class="btn-group" role="group">
              <button class="btn btn-primary" type="submit">SE CONNECTER</button>
            </div>
        </form>         
      </div>

  	<div th:replace="fragments/footer :: footer"></div>

</body>
</html>