<!DOCTYPE html>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
	
	<meta charset="UTF-8">
	<link rel="icon" th:href="@{/img/ua.png}">	
	<title>Accueil - ESTER</title>

   	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>

</head>
<body>

	<div th:replace="fragments/menu :: menu"></div>

  			<div class="row">
  			  		
			    <div class="col-md-2" style="background: repeating-linear-gradient(-45deg, #0097ae, #0097ae 4px, #00889b 4px, #0097ae 6px);">				       
				        <ul style="color:white;">
					  	<li>
				       		<a style="color:white;" th:href="@{/resultat}">Résultats globaux</a>
				        </li>
				        
				        <li>
				       		<a style="color:white;" th:href="@{/entravaux}">Résultats par poste</a>
				        </li>
				        				  
				    </ul> 	        				  
			 </div>
			    
				<div class="col-md-10">
					<div class="container-fluid" id="container" style="background:white">
					    <h1>Entreprise</h1>
						<p>Bienvenue sur la partie Entreprise du Projet ESTER</p>    
					</div>
				</div>
			</div> 
		
	<div th:replace="fragments/footer :: footer"></div>		
</body>
</html>