<!DOCTYPE html>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
 	<link rel="icon" th:href="@{/img/ua.png}">
    <title>Accueil - ESTER </title>
    
    
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/form-patient.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/populateSelect.js}"></script>
    <script th:src="@{/js/checkPass.js}"></script>
</head>

<body >  
			<div th:replace="fragments/menu :: menu"></div>
			    
  			<div class="row"> 			
  				<div class="col-md-2" style="background: repeating-linear-gradient(-45deg, #0097ae, #0097ae 4px, #00889b 4px, #0097ae 6px);">
			  		<ul style="color:white;">
			  		
			  		<div th:if="${session.sessionUtilisateur.isPreventeur()}">
			  		<!-- Connection en tant que Préventeur -->
			  			<li class="dropdown">
						        <a style="color:white;" class="dropdown-toggle" href="#" id="gestionSalariesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						          Gestion des salariés
						        </a>	 
								<div class="dropdown-menu" aria-labelledby="gestionSalariesMenu">
									 	<a class="dropdown-item" th:href="@{/utilisateur?page=createSalarie}">Créer un compte salarié</a>
							          	<a class="dropdown-item" th:href="@{/entravaux}">Liste des salariés</a>
							          	<a class="dropdown-item" th:href="@{/entravaux}">Profil du salarié</a>		
							    </div>
						    </li>
	
					        <li>
			          			 <a style="color:white;" th:href="@{/utilisateur?page=donnerQuestionnaire}">Administrer les questionnaires</a>	
					        </li>
					        
					        <li>
					      		<a style="color:white;" th:href="@{/resultat}">Afficher les statistiques</a>
					        </li>	
			  		</div>
			  				
			  		<div th:if="${session.sessionUtilisateur.isInfirmier() OR session.sessionUtilisateur.isAssistant()}"> 					  		
			  		<!-- Connection en tant que Infirmier/Assistant -->
			  			<li class="dropdown">
						        <a  style="color:white;" class="dropdown-toggle" href="#" id="gestionSalariesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						        	Gestion des salariés
						        </a>	 
									<div class="dropdown-menu" aria-labelledby="gestionSalariesMenu">
							         	<a class="dropdown-item" th:href="@{/entravaux}">Liste des salariés</a>
							          	<a class="dropdown-item" th:href="@{/entravaux}">Profil du salarié</a>	
							        </div>
						    </li>
				
					        <li>
			          			 <a style="color:white;" th:href="@{/utilisateur?page=donnerQuestionnaire}">Administrer les questionnaires</a>	
					        </li>
					        
					        <li>
					      		<a style="color:white;" th:href="@{/resultat}">Afficher les statistiques</a>
					        </li>
			  		</div>	 
			  		
			  		<div th:if="${session.sessionUtilisateur.isAdministrateur()}">
			  			 <!-- Connection en tant que Administrateur -->
			  			<li>
				       		 <a class="dropdown-toggle" href="#" id="creationComptes" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
					          Création de compte
						      </a>		 
							  <div class="dropdown-menu" aria-labelledby="creationComptes">
							          <a class="dropdown-item" th:href="@{/utilisateur?page=createUser}">Administrateur/Médecin/Infirmiers/Préventeurs/Assistants</a>
							          <a class="dropdown-item" th:href="@{/entravaux}">Entreprises</a>
						          	  <a class="dropdown-item" th:href="@{/utilisateur?page=createSalarie}">Salariés</a>
							 </div>			       		
				        </li>
			  		
				  		<li>
					        <a style="color:white;" class="dropdown-toggle" href="#" id="gestionComptesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					          Gestion des comptes
					        </a>		 
								 <div class="dropdown-menu" aria-labelledby="gestionComptesMenu">
						          <a class="dropdown-item" th:href="@{/entravaux}">Administrateur</a>
						          <a class="dropdown-item" th:href="@{/entravaux}">Médecins</a>
						          <a class="dropdown-item" th:href="@{/entravaux}">Préventeurs</a>
						          <a class="dropdown-item" th:href="@{/entravaux}">Infirmiers</a>
					     		  <a class="dropdown-item" th:href="@{/entravaux}">Assistants</a>
						          <a class="dropdown-item" th:href="@{/entravaux}">Entreprises</a>
						          <a class="dropdown-item" th:href="@{/entravaux}">Salariés</a>
								</div>
						</li>				        
						
						<li>
				        	<a th:href="@{/entravaux}" style="color:white;">Modifier les valeurs de référence</a>
				        </li>		
				        
						<li class="dropdown">
				       		<a style="color:white;" class="dropdown-toggle" href="#" id="gestionQuestionnaireMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Gestion des questionnaires</a>
						 
							 <div class="dropdown-menu" aria-labelledby="gestionQuestionnaireMenu">
					          <a class="dropdown-item" th:href="@{/utilisateur/generateur_questionnaire}">Créer un questionnaire</a>
					          <a class="dropdown-item" th:href="@{/entravaux}">Modifier un questionnaire</a>
					          <a class="dropdown-item" th:href="@{/utilisateur?page=afficherQuestionnaire}">Afficher un questionnaire d'un salarié</a>
					          <a class="dropdown-item" th:href="@{/utilisateur?page=donnerQuestionnaire}">Soumettre un questionnaire</a>	
					        </div>
					   	</li>	        
				              
				        <li>
				       		<a th:href="@{/entravaux}" style="color:white;">Gestion Base de Données</a>
				        </li>
				        
				       	<li>
				        	<a style="color:white;" th:href="@{/entravaux}">Gestion Interface</a>
				        </li>
				        
				        <li>
				        	<a style="color:white;" th:href="@{/resultat}">Statistiques</a>
				        </li>
				        
				        <li>
				        	<a style="color:white;" th:href="@{/entravaux}">Exporter les données</a>
				        </li>
				        
				        <li>
				        	<a style="color:white;" th:href="@{/utilisateur?page=configurationServeurMail}">Configuration Serveur Mail</a>
				        </li>		  		
			  		</div>
			  		
			  		
			  		
			  		<div th:if="${session.sessionUtilisateur.isMedecin()}">
			  			
			  			<!-- Connection en tant que Médecin -->
			  		
				  		<li>
					        <a class="dropdown-toggle" href="#" id="gestionComptesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
					          Création de compte
					        </a>		 
								 <div class="dropdown-menu" aria-labelledby="gestionComptesMenu">
						         	<a class="dropdown-item" th:href="@{/utilisateur?page=createUser}">Infirmiers/Préventeurs/Assistants</a>
						          	<a class="dropdown-item" th:href="@{/entravaux}">Entreprises</a>
					          	    <a class="dropdown-item" th:href="@{/utilisateur?page=createSalarie}">Salariés</a>
								</div>
						</li>
						
						<li class="dropdown">
					        <a class="dropdown-toggle" href="#" id="gestionSalariesMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">
					          Gestion des salariés
					        </a>	 
								 <div class="dropdown-menu" aria-labelledby="gestionSalariesMenu">
						         	<a class="dropdown-item" th:href="@{/entravaux}">Liste des salariés</a>
						         	<a class="dropdown-item" th:href="@{/entravaux}">Profil du salarié</a>		
						       	 </div>
						</li>		
				        
						<li class="dropdown">
				       		<a class="dropdown-toggle" href="#" id="gestionQuestionnaireMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="color:white;">Gestion des questionnaires</a>
						 
							 <div class="dropdown-menu" aria-labelledby="gestionQuestionnaireMenu">
							 	<a class="dropdown-item" th:href="@{/utilisateur/generateur_questionnaire}">Créer un questionnaire</a>
					          	<a class="dropdown-item" th:href="@{/entravaux}">Modifier un questionnaire</a>
					          	<a class="dropdown-item" th:href="@{/utilisateur?page=afficherQuestionnaire}">Afficher un questionnaire d'un salarié</a>
					          	<a class="dropdown-item" th:href="@{/utilisateur?page=donnerQuestionnaire}">Administrer les questionnaires</a>	
				          	</div>
					   	</li>	        
				              
				        <li>
				        	<a th:href="@{/entravaux}" style="color:white;">Modifier les valeurs de référence</a>
				        </li>
				        
				        <li>
				        	<a th:href="@{/entravaux}" style="color:white;">Afficher les statistiques</a>
				        </li>
				        
				        <li>
				        	<a th:href="@{/entravaux}" style="color:white;">Exporter les données</a>
				        </li>
				       </div>
				    </ul> 
			    </div>
			    
				<div class="col-md-10">
					<div class="container-fluid" style="background:white">
					
			  			<div th:if="${session.sessionUtilisateur.isMedecin()}">
					
				<!-- Connection en tant que Médecin -->
					
					
						    <h1>Médecin</h1>
							<p>Bienvenue sur la partie Médecin du Projet ESTER </p>			
						</div>
			
						
						<div th:if="${session.sessionUtilisateur.isAdministrateur()}">	
				<!-- Connection en tant que Administrateur -->
						
							<h1>Administrateur</h1>
							<p>Bienvenue sur la partie Administrateur du Projet ESTER</p>  		
						</div>

					
						<div th:if="${session.sessionUtilisateur.isPreventeur()}">	
				<!-- Connection en tant que Préventeur -->
						
							<h1>Préventeur</h1>
							<p>Bienvenue sur la partie Préventeur du Projet ESTER</p>
						</div>
												
							
						<div th:if="${session.sessionUtilisateur.isAssistant()}">
						
				<!-- Connection en tant que Assistant -->
		
							<h1>Assistant</h1>
							<p>Bienvenue sur la partie Assistant du Projet ESTER</p>
						</div>
						
						<div th:if="${session.sessionUtilisateur.isInfirmier()}">	
				<!-- Connection en tant que Infirmier -->
			
							<h1>Infirmier</h1>
							<p>Bienvenue sur la partie Infirmier du Projet ESTER</p>
						</div>
								
						<div th:if="${param.page != null and param.page[0]=='createUser'}"	>
				<!-- Création d'un compte Utilisateur -->
								<div class="row pt-2">
									<div th:replace="fragments/alert :: alert"></div>
							 	</div>
								<div class="row pt-2">
									<div th:replace="fragments/createAccount :: createAccount"></div>
								</div>
								
						</div>
						
						
						<div th:if="${param.page != null and param.page[0]=='createSalarie'}">
						
					<!-- Création d'un compte Salarié -->
			
								<div class="row pt-2">
								     <form class="col" id="saisi" method="post">
										<input class="btn btn-info" type="submit" value="Génerer code patient ">        
									 </form>  	
									 <p class="col"> 
									 	<strong th:if="${message}" th:text="${message}"></strong> 		     		
								     </p>
						 		</div>
						</div>
		
						
						<div th:if="${param.page != null and param.page[0]=='configurationServeurMail'}">
						
						<!-- Configuration du serveur Mail -->
						
								<div class="container-fluid row">
							    	<form class="form-signin" method="post">
							            <div class="form-label-group">
							                <h3>Configuration serveur mail : </h3>
							            </div>
							
							            <div class="form-row">
							               <div class="form-label-group">
							               		<label for="emailSender">Serveur email</label>
										        <input type="email" id="emailSender" name="emailSender" th:placeholder="${email} ? ${email} : ' '" class="form-control"  required>
										    </div>
							            </div>
										
										 <div class="form-row">
							               <div class="form-label-group">
							               		<label for="password">Mot de passe</label>
										        <input type="password" id="password" name="password" placeholder="password" class="form-control"  required>
										        
										    </div>
							            </div>
							            
										<div class="form-row">
							               <div class="form-label-group">
							               		<label for="host">Host</label>
										        <input type="text" id="host" name="host" th:placeholder="${host} ? ${host} : '' " class="form-control"  required>
										        
										    </div>
							            </div>
							            
							            <div class="form-row">
							               <div class="form-label-group">
							               		 <label for="port">Port</label>
										        <input type="number" id="port" name="port" th:placeholder="${port} ?  ${port} : '' " class="form-control"  required>
										       
										    </div>
							            </div>
							            <!-- afficher serveur modifier-->
							            <br/>
							            <div th:if="${Success}">
									      <div class="alert alert-success alert-dismissible" role="alert">
								          	<strong>Succès</strong> <span th:text="${Success}"></span>
									        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
									          <span aria-hidden="true">&times;</span>
									        </button>
									      </div>
									 </div>
							            
							            <div class="form-row" style="padding-right:50px;">
										  		  <div class="col"><input type="submit" class="btn btn-info" value="Valider" style="float:right;"></div>
										  		  <div class="col"><input type="reset" class="btn btn-danger" value="Annuler"></div>  		  
							            </div>
							        </form>	        
							 	</div>
							</div>						
						
							
							<div th:if="${param.page != null and param.page[0]=='ModifierMotDePasse'}">
							
											<!-- Changement de Mot de Passe -->
								<div class="row pt-2"> 
								
									<form  id="saisi" method="post">
									 <div th:if="${Warning}">
								      <div class="alert alert-danger alert-dismissible" role="alert">
							          <strong>Erreur</strong> <span th:text="${Warning}"></span>
								        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								    </div>
								    
								    
								    <div th:if="${Success}">
								      <div class="alert alert-success alert-dismissible" role="alert">
							          <strong>Succès</strong> <span th:text="${Success}"></span>
								        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
								          <span aria-hidden="true">&times;</span>
								        </button>
								      </div>
								    </div>
								    
									     <div class="pt-2">
												<input type="password" id="inputOldPassword" name="oldPassword" class="form-control" placeholder="Ancien Mot de Passe" required>
												<div class="col pb-4"></div>
								   		 </div> 
								   		 
								   		 <div class="pt-2">								   		 	
												<input type="password" id="inputNewPassword" name="newPassword" class="form-control" placeholder="Nouveau Mot de Passe" onkeyup="return passwordChanged('inputNewPassword');"  onBlur="checkPass('inputNewPassword','inputNew2Password')" required>
								   				<span id="strength" class="col col-xs-2"></span>
								   		 </div> 
								   		 
								   		 <div class="pt-2">
								   		 		<input type="password" id="inputNew2Password" name="confirm" class="form-control" placeholder="Confirmez" onkeyup="checkPass('inputNewPassword','inputNew2Password')"  required>
								   		 </div> 
								   		 
									   	<div id="divcomp">
											   	<div class="row" >
														          		
										      	</div>
										 </div>
								   		 <div class="row pt-2">
									  		  <div class="col"><input type="submit" class="btn btn-info" value="Valider" id="submit" style="float:right;"></div>
									  		  <div class="col"><input type="reset" class="btn btn-danger" value="Annuler"></div>  		  
									  		  
								   		 </div> 
								   		
									</form>
								</div>	
    						</div>	
    						
    						<div th:if="${param.page != null and param.page[0]=='donnerQuestionnaire'}">
							<!-- Attribuer questionnaire à un Salarié -->
				
								<div class="row pt-2">
							     	 <div th:replace="fragments/alert :: alert"></div>
							 	</div>
				
								<div class="row pt-2">
									<div th:replace="fragments/giveQuestionnaire :: giveQuestionnaire"></div>
								</div>
							</div>
							
							<div th:if="${param.page != null and param.page[0]=='afficherQuestionnaire'}">
							<!-- afficher questionnaire d'un Salarié -->
				
								<div class="row pt-2">
							     	 <div th:replace="fragments/alert :: alert"></div>
							 	</div>
				
								<div class="row pt-2">
									<div th:replace="fragments/showSalarieQuestionnaire :: showSalarieQuestionnaire"></div>
								</div>
							</div>
										
					</div>
				</div>
			</div> 
						
		    <div th:replace="fragments/footer :: footer"></div>
</body>
</html>