<!DOCTYPE html>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/ua.png}">

    <title>ESTER - Résultats Eval-Risk-TMS</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Accueil.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/Highcharts/code/highcharts.js}"></script>
    
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
  
	 	<div id="container_1" style="width:40%; height:400px;"></div>
<!-- 	 	<div id="container_2" style="width:40%; height:400px;"></div> -->
	
  	 	<script th:inline="javascript">
	 		/*<![CDATA[*/
 			 	document.addEventListener('DOMContentLoaded', function () {
				var myChart = Highcharts.chart('container_1', {
					chart: {
						type: 'column'
					},
					title: {
						text: 'Répartition du score sur la population de référence'
					},
					tooltip: {
					    formatter: function() {
					        return 'Score : <b>' + this.x + '</b> <br> Pourcentage : <b>' + this.y + ' % </b>';
					    }
					},
					xAxis: {
						categories: /*[[${globalCategories}]]*/  [],
						title: {
							text: 'Score',
							align: 'high'
						}
					},
					yAxis: {
						min: 0,
						title: {
							text: null
						},
						labels: {
							format: "{value} %"
						}
					},
					series: [{
						name: 'Score',
						data: /*[[${data}]]*/  []
					}],
					credits: {
						enabled: false
					},
					legend: {
						enabled: false
					},
				});
			});
  	 		/*]]>*/
  	 	</script>
  	 	
  	 	<script th:inline="javascript">
	 		/*<![CDATA[*/
			Highcharts.chart('container_2', {
			    chart: {
			        type: 'bar'
			    },
			    title: {
			        text: 'Comparaison des réponses à la population de référence'
			    },
			    xAxis: {
			        categories: /*[[${categories_2}]]*/ [],
			    },
			    yAxis: {
					min: 0,
					max: 100,
					title: {
						text: 'Pourcentage de la population de réference'
					},
					labels: {
						format: "{value} %"
					}
				},
				legend: {
					reversed: true
				},
			    plotOptions: {
			        series: {
			            stacking: 'normal'
			        }
			    },
			    series: [{
			        name: 'Toujours',
			        data: [25, 3, 4,3]
			    }, {
			        name: 'Souvent',
			        data: [25, 2, 3, 2]
			    }, {
			        name: 'Seuil du facteur de risque',
			        data: [1, 1, 1, 1]
			    }, {
			        name: 'Rarement',
			        data: [25, 4, 4, 2]
			    }, {
			        name: 'Jamais',
			        data: [25, 2, 3, 2]
			    }
			    ],colors: [
			    	'#ff3d00',
			    	'#ff9100',
			    	'#000',
			    	'#ffea00',
			    	'#00e676',
				],
				credits: {
					enabled: false
				}
			});
  	 		/*]]>*/
  	 	</script>
  	 	
  	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>