<!DOCTYPE html>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/ua.png}">

    <title>ESTER</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Accueil.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    
</head>
<body>
	<div th:replace="fragments/menu :: menu"></div>
  	<div class="container">
  	
  	<div class="row justify-content-center pb-2">
        <div class="col-md-6" style="text-align:center;"><img th:src="@{/img/irset.png}" alt="Logo-ister" width="205" height="90"/></div>
        <div class="col-md-6" style="text-align:center;"><img th:src="@{/img/ua_h.png}" alt="Logo-Université-Angers" width="190" height="62"/></div>
        
    </div>
  	 	
  		<div class="card">
		  <div class="card-body">
		    <h5 class="card-title">Bienvenue</h5>
		    <p class="card-text">Vous êtes sur le projet Ester.</p>
		  </div>
		</div>	
  	</div>
  	
  	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>