<div class="container text-align-center">
	<div class="row mb-4">
		<div class="col-md-4 text-center" style="text-align:center;"><img th:src="@{/img/irset.png}" alt="Logo-ister" width="160"></div>
		<div class="col-md-3 text-center" style="text-align:center;"><img th:src="@{/img/ua_h.png}" alt="Logo-Université-Angers" width="190"></div>
		<div class="col-md-4 text-center" style="text-align:center;"><img th:src="@{/img/Sante_publique.jpg}" alt="Logo-Santé_publique_France" width="170" height="80"></div>
	</div>
	
	<!--question 1-->
	 <div class="row mt-4">
	     <label >1) Comment évaluez-vous l'intensité des efforts physiques de votre travail au cours d'une journée de travail ?</label>
	 </div>
	 <div class="row text-center pl-4 pb-4">
	       <select name="question1">
	         <option>6 Pas d'effort du tout</option>
	         <option>7 Extrêmement léger</option>
	         <option>8</option>
	         <option>9 Très léger</option>
	         <option>10</option>
	         <option>11 Léger</option>
	         <option>12</option>
	         <option>13 Un peu dur</option>
	         <option>14</option>
	         <option>15 Dur</option>
	         <option>16</option>
	         <option>17 Très dur</option>
	         <option>18</option>
	         <option>19 Extremement dur</option>
	         <option>20 Epuisant</option>
	       </select>
	 </div>
	 	 
	<!--question 2-->
	 <div class="row">
	   <label >2) Votre travail nécessite-t-il de répéter les mêmes actions plus de 2 à 4 fois environ par minute ?</label>
	 </div>
	 <div class="row text-center">
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Jamais" name="question2" >Jamais</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Rarement (moins de 2h/jour)" name="question2">Rarement (moins de 2h/jour)</label>
	     </div>
	 </div>
	 
	 <div class="row text-center  pb-4">
	    
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Souvent (de 2 à 4h/jour)" name="question2">Souvent (de 2 à 4h/jour)</label>
	       </div>
	       
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Toujours (>4h/jours)" name="question2">Toujours (>4h/jours)</label>
	     </div>
	 </div>
	 
	<!--question 3-->
	 <div class="row">
	   	<label>3) Devez-vous vous pencher en avant / sur le côté régulièrement ou de manière prolongée?</label>
	 </div>
	 <div class="row text-center">
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Jamais" name="question3" >Jamais</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       
	       <label class="radio"><input type="radio" value="Rarement (moins de 2h/jour)" name="question3">Rarement (moins de 2h/jour)</label>
	     </div>
	</div>
	
	 <div class="row text-center pb-4">
	     
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Souvent (de 2 à 4h/jour)" name="question3">Souvent (de 2 à 4h/jour)</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Toujours (>4h/jours)" name="question3">Toujours (>4h/jours)</label>
	     </div>
	 </div>
	 
	<!--question 4-->
	 <div class="row">
	      <label>4) Travaillez-vous avec un ou deux bras en l'air (au-dessus des épaules) régulièrement ou de manière prolongée?</label>
	 </div>
	 <div class="row text-center">
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Jamais" name="question4" >Jamais</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Rarement (moins de 2h/jour)" name="question4">Rarement (moins de 2h/jour)</label>
	     </div>
	     </div>
	 <div class="row text-center pb-4">
	     
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Souvent (de 2 à 4h/jour)" name="question4">Souvent (de 2 à 4h/jour)</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Toujours (>4h/jours)" name="question4">Toujours (>4h/jours)</label>
	     </div>
	 </div>
	 
	<!--question 5-->
	 <div class="row">
	     <label>5) Fléchir le(s) coude(s) régulièrement ou de manière prolongée ?</label>
	 </div>
	 <div class="row text-center">
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Jamais" name="question5" >Jamais</label>
	             </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Rarement (moins de 2h/jour)" name="question5">Rarement (moins de 2h/jour)</label>
	     </div>
	     </div>
	 <div class="row text-center pb-4">
	     
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Souvent (de 2 à 4h/jour)" name="question5">Souvent (de 2 à 4h/jour)</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Toujours (>4h/jours)" name="question5">Toujours (>4h/jours)</label>
	     </div>
	 </div>
	 
	<!--question 6-->
	 <div class="row">
	     <label>6) Presser ou prendre fermement des objets ou des pièces entre le pouce et l'index?</label>
	 </div>
	 <div class="row text-center">
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Jamais" name="question6" >Jamais</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Rarement (moins de 2h/jour)" name="question6">Rarement (moins de 2h/jour)</label>
	     </div>
	     </div>
	 <div class="row text-center pb-4">
	     
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Souvent (de 2 à 4h/jour)" name="question6">Souvent (de 2 à 4h/jour)</label>
	       </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	       <label class="radio"><input type="radio" value="Toujours (>4h/jours)" name="question6">Toujours (>4h/jours)</label>
	     </div>
	     
	 </div>
	 
	<!--question 7-->
	 <div class="row">
	     <label>7) Dans mon travail, j'ai la possibilité d'influencer le déroulement de mon travail</label>
	 </div>
	 <div class="row">
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	     <label class="radio"><input type="radio" value="Pas du tout d'accord" name="question7">Pas du tout d'accord</label>
	     </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	     <label class="radio"><input type="radio" value="Pas d'accord" name="question7">Pas d'accord</label>
	     </div>
	     </div>
	 <div class="row pb-4">
	     
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	     <label class="radio"><input type="radio" value="D'accord" name="question7">D'accord</label>
	     </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	     <label class="radio"><input type="radio" value="Tout à fait d'accord" name="question7">Tout à fait d'accord</label>
	     </div>
	 </div>
	
	<!--question 8-->
	 <div class="row">
	     <label>8) Les collègues avec qui je travaille m'aident à mener les tâches à bien</label>
	 </div>
	 <div class="row">
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios">
	     <label class="radio"><input type="radio" value="Pas du tout d'accord" name="question8">Pas du tout d'accord</label>
	     </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios">     
	     <label class="radio"><input type="radio" value="Pas d'accord" name="question8">Pas d'accord</label>
	     </div>
	     </div>
	 <div class="row pb-4">
	     
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios">
	 	 <label class="radio"><input type="radio" value="D'accord" name="question8">D'accord</label>
	 	 </div>
	    <div class="col-md-5 valtype pl-4 text-left" data-valtype="radios"> 	 
	     <label class="radio"><input type="radio" value="Tout à fait d'accord" name="question8">Tout à fait d'accord</label>
	     </div>
	 </div>
 </div>