<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/ua.png}">
    
	<title>Questionnaires - ESTER </title>


   	<link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
	
</head>
<body>

  	<div th:replace="fragments/menu :: menu"></div>
	
	<!-- Liste des questionnaires -->
	
    <div class="card text-center m-3" id="questionnaire">
    	<div th:if="${Questionnaire != null}">
				<div class="card-header">
	    			<h3 class="card-title" th:text="${Nom}"></h3>
	    			<h5 class="card-subtitle mb-2 text-muted">Soumis par <cite th:text="${IdentifiantEster}"></cite>, le <span th:text="${Date}"></span> <span th:if="${DateReponse != null}" th:text="'et répondu le ' + ${DateReponse}"></span></h5>
	    		</div>
			    <div class="card-body">
			    	<span id="survey" th:utext="${Questionnaire}"></span>
			    	<div th:if="${session.sessionUtilisateur != null}">
				    	<div th:if="${session.sessionUtilisateur.isUtilisateur() OR DateReponse != null}">
		    				<form action="">
						         <input class="btn btn-primary m-3" type="button" id="myButton" value="Retour"/>
						    </form> 
				    	</div>
				    	<script type="text/javascript">
						         var button_my_button = "#myButton";
						         $(button_my_button).click(function(){
						        	 window.location.replace('./');
						         });
			         	</script>
				    </div>
			    </div>
	    	</div>
    	</div>
  	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>