<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<head>

	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" th:href="@{/img/ua.png}">
    
	<title>Questionnaires - ESTER </title>


   	<link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
	
</head>
<body>

  	<div th:replace="fragments/menu :: menu"></div>
	
	<!-- Liste des questionnaires -->
	
    <div class="card text-center m-3" id="questionnaire">
		<form method="post">
			<div th:if="${Questionnaire == null}">
					<div class="card-header">
				    	<h3 class="card-title">Liste des questionnaires</h3>
				    </div>
				    <div class="card-body">
					    <select class="form-control" name="Identifiant" id="listeQuestionnaires">
						    <option th:each="identifiant : ${ListeQuestionnaires}"><span th:text="${identifiant.getName()}"></span></option>
					    </select>
				        <button class="btn btn-primary m-3" type="submit">AFFICHER</button>
				    </div>
	    	</div>
	    	</form>
	    	<form method="post" action="/salarie/questionnaireSubmit">
	    	<div th:if="${Questionnaire != null}">
				<div class="card-header">
	    			<h3 class="card-title" th:text="${Nom}"></h3>
	    			<h5 class="card-subtitle mb-2 text-muted">Soumis par <cite th:text="${IdentifiantEster}"></cite>, le <span th:text="${Date}"></span> <span th:if="${DateReponse != null}" th:text="'et répondu le ' + ${DateReponse}"></span></h5>
	    		</div>
			    <div class="card-body">
			    	<span id="survey" th:utext="${Questionnaire}"></span>
			    	<div th:if="${session.sessionUtilisateur != null}">
			    		<div th:if="${session.sessionUtilisateur.isSalarie() and DateReponse == null}">
				    		<button class="btn btn-primary m-3" type="submit" id="submitButton">VALIDER</button>
				    		<button class="btn btn-danger m-3" type="reset">ANNULER</button>
				    		<form action="">
						         <input class="btn btn-primary m-3" type="button" id="myButton" value="Retour"/>
				    	</div>
				    	<div th:if="${session.sessionUtilisateur.isUtilisateur() OR DateReponse != null}">
<!-- 				    		<button class="btn btn-primary m-3" onClick="window.location.replace('http://www.w3schools.com')">RETOUR</button> -->
		    				<form action="">
						         <input class="btn btn-primary m-3" type="button" id="myButton" value="Retour"/>
						    </form> 
				    	</div>
				    	<script type="text/javascript">
						         var button_my_button = "#myButton";
						         $(button_my_button).click(function(){
						        	 window.location.replace('./');
						         });
						         </script>
				    </div>
			    </div>
	    	</div>
		</form>	
    </div>
  	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>