<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/ua.png}"/>
    
	<title>En cours de Développement...</title>
	
	
	<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/default.css}">
    
    <script type="text/javascript" th:src="@{/js/jquery.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>
    
</head>
<body>

<!--   	<c:import url="/jsp/Menu.jsp"/> -->


	<div class="card">
		  	<div class="card-header">
		  		<h5 class="card-title" style='font-weight:bold'>En Développement...</h5>
		  	</div>
		  	<div id="histo-div" class="card-body">
		  		<div class="row justify-content-center">
		  			<div class="col-md-4 justify-content-center">
		  				<p style="font-size: 150%;">Désolé, cette page n'est pas encore accessible...</p>
		  			</div>
		  		</div>
		  		<div class="row justify-content-center">
		  			<div class="col-md-2 justify-content-center">
		  				<img th:src="@{/img/worker.png}" alt="Women Worker" width="250">
		  			</div>
		  		</div>
	   		</div>
	</div>
</body>
</html>