<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
	<link rel="icon" th:href="@{/img/ua.png}">
	
    <title>Mot de passe oublié - ESTER</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Accueil.css}">
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
  </head>

  <body>
  <div th:replace="fragments/menu :: menu"></div>
  	<div class="container">
  		<div class="row justify-content-center pb-2">
	        <div class="col-md-4" style="text-align:center;"><img th:src="@{/img/irset.png}" alt="Logo-ister" width="205" height="90"></div>
	        <div class="col-md-4" style="text-align:center;"><img th:src="@{/img/ua_h.png}" alt="Logo-Université-Angers" width="190" height="62"></div>
        
	    </div>	
	  	<div class="row">
	
		    <form class="form-signin" method="post">
			  <div class="text-center mb-4">
			       <div class="row">        
			      		 <div class="col-md-12 col-centered "><h5 class="h5 mb-3 font-weight-normal">Veuillez saisir votre email</h5></div>
			       </div>
		
				 	<div class="form-label-group">
				        <input type="email" name="Email" id="Email" th:attr="value = ${email}" class="form-control"  required>
				        <label for="Email">email</label>
				    </div>
				    <!-- afficher email envoyé ou email non existant -->
				     <div class="row">  
			      		 <div class="col-md-12 col-centered "><strong style="color:red" th:text="${message}"></strong></div>
			        </div>
			        
			        <div th:if="${Success != null}">
				      <div class="alert alert-success alert-dismissible" role="alert">
			          	<strong>Succès</strong> <span th:text="${Success}"></span>
				        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				   </div>
	
					<div th:if="${Warning != null}">
				      <div class="alert alert-danger alert-dismissible" role="alert">
			          <strong>Erreur </strong> <span th:text="${Warning}"></span>
				        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				    </div>
				   <button class="btn btn-lg btn-primary btn-block" type="submit">VALIDER</button>
		    		    
			 </div>	             
		   </form>
    </div>
    </div>
   <div th:replace="fragments/footer :: footer"></div>
    
  </body>
</html>
