<!DOCTYPE html>
<html lang="fr-FR" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/ua.png}">

    <title>Réinitialisation de mot de passe - ESTER</title>

    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" th:href="@{/css/Accueil.css}">
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
	
	<script th:src="@{/js/checkPass.js}"></script>
    <link rel="stylesheet" th:href="@{/css/form-reset.css}">

</head>

<body>

	<div th:replace="fragments/menu :: menu"></div>  
	
  	<div class="container-fluid" id="container">
	  	<div class="row justify-content-center">
			<div class="text-center mb-4">
				
				<div th:if="${message != null}">
					<div th:replace="fragments/alert :: alert"></div> 
				</div>
				
				
			   <div th:if="${message == null}">
					       <div class="row" th:if="${valid != null}">
					       		<div th:replace="fragments/resetPassword :: resetPassword"></div>
						   </div>
				
						<div class="container form-reset" th:if="${valid == null}">
				      	  	    <div class="form-title-row">
						                <h3>Réinitialisation mot de passe </h3>
						        </div>
				      	  		<div class="row">
				      	  			<div class="col-md-12 pr-1"><img  class="rounded" th:src="@{/img/error.svg.png}" alt="" width="90" height="90"></div>
				      	  		</div>
				      	  		<div class="alert alert-danger" role="alert">
									<h5>Le lien pour réinitialiser le mot de passe a expiré ou n'a jamais existé</h5>
						   		</div>
			      	  </div>
		   		</div>
			    
		 </div>	           
			   
	   </div>
 </div>
    
     <div th:replace="fragments/footer :: footer"></div>
    
</body>
</html>
