<!DOCTYPE html>
<html lang="fr-FR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" th:href="@{/img/ua.png}">

    <title>Accueil - ESTER</title>
    
    <link rel="stylesheet" th:href="@{/css/default.css}">
    <link rel="stylesheet" th:href="@{/css/form-patient.css}">
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
    
    
    <script th:src="@{/js/jquery.min.js}"></script>
    <script th:src="@{/js/popper.min.js}"></script>
    <script th:src="@{/js/bootstrap.min.js}"></script>
    <script th:src="@{/js/populateSelect.js}"></script>
		
</head>

<body>  

	<!-- Menu en header de la page -->						
	<div th:replace="fragments/menu :: menu"></div>
  			<div class="row">
  			
  			<!-- Menu pour salarié -->    
  			  			
  				<div class="col-md-2" style="background: repeating-linear-gradient(-45deg, #0097ae, #0097ae 4px, #00889b 4px, #0097ae 6px);">
			  		<ul style="color:white;">
				  		<li>
				        	<a style="color:white;" th:href="@{/salarie?page=modifierProfil}">Modifier mon profil</a>
				        </li>
				        
				        <li>
				        	<a style="color:white;" th:href="@{/salarie/questionnaire}">Voir les questionnaires</a>
				        </li>
				        
				        <li>
				        	<a style="color:white;" th:href="@{/salarie/resultat}">Voir les statistiques</a>
				        </li>	        				  
				    </ul> 
			    </div>
			
			
			<!-- Container du contenu du salarié -->    
				<div class="col">
					<div class="container-fluid" id="container" style="background:white">	
						<h1>Salarié</h1>
						<p>Bienvenue sur la partie Salarié du Projet ESTER</p>
						<div th:replace="fragments/alert :: alert"></div>
							<div th:if="${session.sessionUtilisateur.isFirstConnection() OR (param.page != null and param.page[0]=='modifierProfil')}">
								<div th:replace="fragments/formPatient :: formPatient"></div>
						</div>
					</div>
				</div>
			</div>			
		
	<!-- Footer de la page -->						
  	<div th:replace="fragments/footer :: footer"></div>
</body>
</html>